# This file is for example purposes only.
# Copy this file to .env and fill in your actual secrets.
# Do NOT commit the .env file to git.

# Example API Key
GOOGLE_API_KEY=""

# Example Database URL
DATABASE_URL=""
